substitutions:
  device_name: tf03-shunt
  friendly_name: "tf03 smart shunt"
  uart_gpio: GPIO17
  refresh_interval: 5s

esphome:
  name: ${device_name}
  friendly_name: ${friendly_name}

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  level: INFO

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

ota:
  platform: esphome

api:      
  encryption:
    key: !secret api_encryption_key

time:
  - platform: sntp

packages:
  tf03k_bms: 
    url: https://github.com/edillmann/esphome-tf03k-smart-shunt
    files:
      - path: packages/tf03k_shunt.yaml 
        vars:
          uart_gpio: ${uart_gpio}
          shunt_id: 1
          shunt_name: Shunt
    ref: main
    refresh: 1d
